<div class="flex flex-col justify-center h-screen items-center">
  <div class="w-auto p-10 bg-black rounded-md flex flex-col">
    <h1 class="text-3xl mb-5 text-white font-extrabold">Asignación de Turnos</h1>
    <h2 class="text-xl mb-5 text-white font-bold">Sistema de gestion de Atención al Cliente</h2>
    <h3 class="text-lg mb-5 text-white font-bold">En breve será atendido...</h3>
    <h3 class="text-lg mb-5 text-white font-bold">{{turn}}</h3>
    <button class="pt-2 pb-3 px-5 w-min mt-10 ml-auto rounded-lg bg-blue-800 text-white"
      routerLink="/client">Regresar</button>
  </div>
</div>