<nav class="flex z-40 fixed w-full h-auto bg-black justify-between items-center px-20">
  <div class="mx-5 py-2 flex justify-center items-center" routerLink="/">
    <h1 class="ml-10 text-white">Proyecto integrador bootcamp</h1>
  </div>
  <div class="flex px-3">
    <div class="bg-white rounded-lg text-black px-2 mx-5 hover:bg-blue-100 transition-all duration-300">
      <a routerLink="/login">Login</a>
    </div>
    <div class="bg-white rounded-lg text-black px-5 hover:bg-blue-300 transition-all duration-300">
      <a routerLink="/logout">Logout</a>
    </div>
  </div>
</nav>