<div class="flex flex-col justify-center h-screen items-center">
  <div class="w-auto p-10 bg-red-200 rounded-md flex flex-col">
    <h1 class="text-3xl mb-5 text-black font-extrabold">Bienvenido</h1>
 
    <ng-container *ngIf="cliente.clientid != 1">
      <h3>Bienvenido estimado usuario: {{ cliente.name }} {{ cliente.lastname }}</h3>
      <ng-container *ngFor="let attType of attentionTypeService">
        <ng-container *ngIf="attType.attentiontypeid !== 'NEW'">
        <button class="pt-2 pb-3 px-5 mt-3 rounded-lg bg-black text-white" (click)="postData(attType.attentiontypeid, cliente.clientid)">
          {{ attType.description }}
        </button>
      </ng-container>
      </ng-container>
    </ng-container>
      <ng-container *ngIf="cliente.clientid == 1">
        <h3>No estás registrado. Por favor, regístrate para acceder a las opciones.</h3>
        <button class="pt-2 pb-3 px-5 mt-3 rounded-lg bg-black text-white" (click)="postData('NEW', 1)">
          Atención al Cliente
        </button>
        <!-- Agrega aquí cualquier otra opción que desees mostrar para clientes no registrados -->
      </ng-container>
    <button class="pt-2 pb-3 px-5 w-min mt-10 ml-auto rounded-lg bg-black text-white"
      routerLink="/client">Aceptar</button>
  </div>
</div>