<section class="h-screen flex justify-center items-center">
  <div class="bg-white rounded-lg w-3/4">
    <div class="p-6 space-y-2 md:space-y-6 sm:p-8">
      <h1 class="text-xl font-bold text-black">
        Iniciar sesion
      </h1>
      <form class="space-y-4">
        <div>
          <label>Correo
            <input type="email" name="email" id="email" class="border-2 border-black">
          </label>
        </div>
        <div>
          <label for="password">Contrase;a</label>
          <input type="password" name="password" id="password" class="border-2 border-black">
        </div>
        <button class="pt-1 pb-2 px-5 rounded-lg bg-black text-white" type="submit">Login</button>
      </form>
    </div>
  </div>
</section>
