<div class="flex flex-col justify-center h-screen items-center">
  <div class="w-auto p-10 bg-black rounded-md flex flex-col">
    <h1 class="text-3xl mb-5 text-white font-extrabold">Identificacion</h1>
    <h2 class="text-xl mb-5 text-white font-bold">Bienvenido</h2>
    <label class="mt-5 text-white">Introduzca por favor su numero de cedula:
      <input type="text" [(ngModel)]="cedula" name="id" id="id">
    </label>
    <button [routerLink]="['/clientoptions',validarCedula(cedula)]"
      class="pt-2 pb-3 px-5 w-min mt-10 ml-auto rounded-lg bg-black border-2 border-white text-white" type="submit">Siguiente</button>
  </div>
</div>